$text: #222;
$black: #000;
$white: #fff;
$grey: #6e6e6e;
$blue: #5e9ed6;
$yellow: #f2b700;
$backgroundColor1: #aaa;
$backgroundColor2: #00491e;
$backgroundColor3: #008938;
$backgroundColor4: #f2b700;
$backgroundColor5: rgba(0, 0, 0, 0.5);