@import "fonts";
@import "colors";

h1,h2,h3,h4,h5,h6,p {
  font-family: $golos;
}

.form-floating {
  .form-control{
    &:focus {
      border: 2px solid $black;
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }

  label {
    font-family: $golos;
    color: $grey;
    font-size: 0.875em;
    font-weight: 500;
  }
}

.btn-success {
  background-color: $backgroundColor3;
}
.navbar {
  z-index: 1039;
  .navbar-brand {
    width: 225px;
    margin: 0;
    img {
      width: 75%;
    }
  }
  button {
    color: $grey;
    &:hover, &:active {
      color: aliceblue !important;
    }
    
  }
}

.layoutsidenav {
  .layoutsidenav-nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    transform: translateX(-225px);
    &.sidenav-toggled {
      transform: translateX(0);
    }
    .sidenav {
      padding-top: 56px;
      background-color: #212529;
      color: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      height: 100%;
      flex-wrap: nowrap;
      .sidenav-menu {
        overflow-y: auto;
        flex-grow: 1;
        .nav {
          flex-direction: column;
          flex-wrap: nowrap;
          .sidenav-menu-head {
            padding: 1.75rem 1rem 0.75rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.25);
          }
          .nav-link {
            display: flex;
            align-items: center;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            position: relative;
            color: rgba(255, 255, 255, 0.5);
            &:hover {
              color: #fff;
            }
            &.collapsed {
              .sidenav-collapse-arrow {
                transform: rotate(-90deg);
              }
            }
            .nav-link-icon {
              font-size: 0.9rem;
              color: rgba(255, 255, 255, 0.25);
              margin-right: 0.5rem;
            }
            .sidenav-collapse-arrow {
              display: inline-block;
              margin-left: auto;
              transition: transform 0.15s ease;
              color: rgba(255, 255, 255, 0.25);
            }
          }
          .sidenav-menu-nested {
            margin-left: 1.5rem;
            flex-direction: column;
          }
        }
      }
      .sidenav-footer {
        background-color: #343a40;
        padding: 0.75rem;
        flex-shrink: 0;
        .sidenav-footer-info {
          .sidenav-footer-img {
            width: 25%;
          }
          .sidenav-footer-data {
            width: 75%;
            p {
              margin: 0;
              font-size: small;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            span {
              font-size: small;
            }
          }
          
        }
        
      }
    }
  }
  .layoutsidenav-content {
    padding-left: 225px;
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
    &.sidenav-toggled {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1037;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

@media (min-width: 992px) {
  .layoutsidenav {
    .layoutsidenav-nav{
      transform: translateX(0);
      &.sidenav-toggled {
        transform: translateX(-225px);
      }
    }
    .layoutsidenav-content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
      &::before {
        display: none;
      }
      &.sidenav-toggled {
        margin-left: -225px;
        &::before {
          display: none;
          content: none;
        }
      }
    }
  }
}